
.border-padding, h1, div, section {
   border: 8px solid transparent;
   padding: 20px;
   text-align: center;
 }
 
 section {
   border-color: black;
 }
 
 div {
   border-color: #1b97e1;
 }
 
 h1 {
   border-color: rgba(0, 133, 254, 0.44);
 }